html {
  font-family: 'Vujahday Script', cursive;
    background-color: #C1272D;
}

body {
  width: 600px;
  margin: 20px auto;
  background-color: white;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

img {
  display: block;
  margin: 0 auto;
}

h1 {
  margin: 0;
  padding: 20px 0;
}



p {
  font-family: 'Fira Sans', sans-serif;
  font-size:large
}

ul {
  font-size: xx-large;
}

a {
  font-size: xx-large;
}